<h3>Fahrenheit to Centigrade</h3>
<form name="centigrade_form" id="form_c">
  <fieldset ng-form="centigrade">
    <legend>Enter a Temperature in Fahrenheit:</legend>
    <input type="number" name="post_fahrenheit" id="get_centigrade_from_input" placeholder="32"><br />
    <!-- using ngStyle inline until css and style classes are built and style logic implemented -->
    <button type="submit" class="btn btn-primary" [ngStyle]="{'background-color':'grey', 'border-color':'black'}" id="post_fahrenheit_input">Submit</button>
  </fieldset>
</form>

